
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

## Not used
##
#group: !include groups.yaml
#automation: !include automations.yaml
#script: !include scripts.yaml
#scene: !include scenes.yaml

recorder:
  db_url: !secret maria

homeassistant:
## This is where I store all configuration
## The configuration is based on packages corresponding to a room or function
  packages: !include_dir_named packages
#
  customize: !include customize.yaml

sensor:
    ##################
  - platform: time_date
    display_options:
      - 'time'
      - 'time_utc'
#
# Discover some devices automatically
discovery:
# Please remove dlna_dmr from your discovery.enable configuration as it is now enabled by default
#  enable:
#  - dlna_dmr
#
frontend:
  extra_module_url:
    - /hacsfiles/hass-hue-icons/hass-hue-icons.js